{% extends "layout.html" %}

{% block content %}
<h2>"{{ book4.name }}" Description:</h2>
<style>
  
  img {
    max-width: 500px; 
    height: auto; 
  }
</style>
<p>
  The Kite Runner is the first novel by Afghan-American author Khaled Hosseini.[1] Published in 2003 by Riverhead Books, it tells the story of Amir, a young boy from the Wazir Akbar Khan district of Kabul. The story is set against a backdrop of tumultuous events, from the fall of Afghanistan's monarchy through the Soviet invasion, the exodus of refugees to Pakistan and the United States, and the rise of the Taliban regime.

Hosseini has commented that he considers The Kite Runner to be a father-son relationship story, emphasizing the familial aspects of the narrative, an element that he continued to use in his later works.[2] Themes of guilt and redemption feature prominently in the novel,[3] with a pivotal scene depicting an act of sexual assault inflicted upon Amir's friend Hassan, which Amir fails to prevent, and which ends their friendship. The latter half of the book centers on Amir's attempts to atone for this transgression by rescuing Hassan's son two decades later.
</p>
<img src="https://unclebuddysbeard.com/cdn/shop/products/image_d007d0cd-12d3-4e90-899b-5c238f6711b3.jpg?v=1600270108">

{% if book4 %}
<h3>Stock levels: {{ book4.quantity }}</h3>
<form action="/action_page.php">
  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" name="quantity" min="1" max="5" />
</form>
<button
  id="addToCartButton"
  type="button"
  onclick="addToCart('{{ book4.name }}','{{ book4.price }}')">
  Add to Cart
</button>
{% else %}
<p>Debug: book2 is not available in the template context</p>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  function addToCart(book4Name, book4Price) {
    const quantity = document.getElementById("quantity").value
      ? document.getElementById("quantity").value
      : 1;
    console.log(quantity);
    const bookData = {
      name: book4Name,
      quantity: quantity,
      price: book4Price,
    };

    axios
      .post("/add_to_cart", bookData)
      .then((response) => {
        console.log(response.data.message);
        alert("Book added to cart!");
      })
      .catch((error) => {
        console.error(error);
      });
  }
</script>
{% endblock %}