{% extends "layout.html" %}

{% block content %}
<h2>"{{ book3.name }}" Description:</h2>
<style>
  
  img {
    max-width: 600px; 
    height: auto; 
  }
</style>
<p>
  The Very Hungry Caterpillar is a 1969 children's picture book designed, illustrated, and written by American children's author and illustrator Eric Carle. The plot follows a very hungry caterpillar that eats a variety of foods before pupating and emerging as a butterfly, and incorporates elements that contribute to juvenile education, such as counting, the days of the week, food, and a butterfly’s life cycle.
</p>
<img src="https://www.bigw.com.au/medias/sys_master/images/images/hea/h55/16836177330206.jpg">

{% if book3 %}
<h3>Stock levels: {{ book3.quantity }}</h3>
<form action="/action_page.php">
  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" name="quantity" min="1" max="5" />
</form>
<button
  id="addToCartButton"
  type="button"
  onclick="addToCart('{{ book3.name }}','{{ book3.price }}')">
  Add to Cart
</button>
{% else %}
<p>Debug: book2 is not available in the template context</p>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  function addToCart(book3Name, book3Price) {
    const quantity = document.getElementById("quantity").value
      ? document.getElementById("quantity").value
      : 1;
    console.log(quantity);
    const bookData = {
      name: book3Name,
      quantity: quantity,
      price: book3Price,
    };

    axios
      .post("/add_to_cart", bookData)
      .then((response) => {
        console.log(response.data.message);
        alert("Book added to cart!");
      })
      .catch((error) => {
        console.error(error);
      });
  }
</script>
{% endblock %}
